<section class="section about" id="about">

  <h1 class="section__title">about me</h1>

  <img src="assets/img/nina_sprite.jpg" alt="Portrait Nina Regli" class="about__img">

  <h2 class="about__header">To the easy part </h2>
  <p class="about__text"> I'm a Swiss Web Designer and Developer and live in the Netherlands. I speak Swiss, English, a bit of French and more and more Dutch.*
I love my work. I love to craft eye-pleasing web presence.
Web development covers some of my greatest interests: imagining beautiful and functional designs, learning through complex technical challenges and creating sites that make people happy.
     I live on an almost hundreds years old sailing boat. I'm a mum of a little boy. I love my work. And mashed potatos. And hate cold feet. And falling asleep when watching series. Although that still happens quite a lot.
  </p>
  <p>If got over the "Ik ben geen schildpaad" part - "I'm not a turtle" from one of the first dutch lesson.</p>

</section>
