<section class="home-section about">

  <h1 class="home-section__title">about me</h1>

  <img src="" alt="">

  <h2 class="about__header">To the easy part </h2>
  <p class="about__text"> I'm a Swiss Web Designer and Developer living in the Netherlands. I speak Swiss, English, a bit of French and more and more Dutch. (If got over the "Ik ben geen schildpaad" part - "I'm not a turtle" from one of the first dutch lesson). I live on a boat. On the water. I'm a mum of a little boy. I love my work. And mashed potatos. And hate cold feet. And falling asleep when watching a series. Although that still happens quite a lot. 
  </p>

</section>
