<section class="section contact" id="contact">

  <h1 class="section__title">contact</h1>

  <h2 class="section__subtitle">Want to work together? Yes me probably too. Say hello. </h2>

  <div class="section__main">

    <ul class="contact__list">
      {% for contact in site.data.contacts %}
      <li class="contact__item">
        <a href="{{contact.link}}" class="contact__link" target="_blank">
          <span class="contact__username">{{ contact.username }}</span>
          <span class="contact__type">{{ contact.type }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>

  </div>

</section>
