<section class="home-section services" id="services">

  <h1 class="home-section__title services__title">services</h1>

  <h2>I'm here to help you create a visually attractive & user friendly web* presence </h2>
  <p>*or print</p>

  <ul class="services__list">
    {% for service in site.data.services %}
    <li class="services__list-item">
      <span class="services__number">{{service.number}}</span>
      <p class="services__type">{{ service.type }}</p>
      <p class="services__description">{{ service.description }}</p>
    </li>
    {% endfor %}
  </ul>

</section>
