<section class="home-section work">

  <h1 class="home-section__title">work</h1>

  <ul class="work__list">
  {% for project in site.data.projects %}
    <li class="work__item">
      <a class="work__link" href="{{ site.baseurl }}">
        <span class="work__type work__text">{{ project.type }}</span>
        <span class="work__name work__text">{{ project.name }}</span>
        <img class="work__img" src="assets/img/{{ project.img }}" alt="{{ project.name }}">
      </a>

    </li>
  {% endfor %}
  </ul>

</section>
