.home-section {
  min-height: calc(100vh - 5em);
  margin-bottom: $spacing-base;

  @media #{$screen-md} {
    margin-bottom: $spacing-md;
  }

  &__title {
    text-align: right;
    margin-bottom: $spacing-sm;

    @media #{$screen-md} {
      margin-bottom: $spacing-base;
    }
  }
}
