.services {
  display: flex;
  flex-direction: column;

  &__title {
    color: $turquois-strong;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
  }

  &__list-item {
    width: 29%;
    max-width: 29%;
    display: flex;
    flex-direction: column;
  }

  &__number {
    display: block;
    text-align: right;
    display: block;
    position: relative;
    color: $turquois-strong;
    font-size: $font-size-md;
    font-family: $secondary-font;

    &:after {
      content: '';
      position: absolute;
      top: -4px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $turquois-strong;
    }
  }

  &__type {
    text-align: right;
    flex-grow: 2;
    font-family: $secondary-font;
    font-size: $font-size-base;
    text-transform: uppercase;
    color: $turquois-strong;
  }

  &__description {
    color: $white;
  }

}
