.services {
  display: flex;
  flex-direction: column;

  &__footnote {
    font-family: $secondary-font;
    text-align: right;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
  }

  &__list-item {
    width: 34%;
    display: flex;
    flex-direction: column;

    &:last-child {
      width: 24%;
    }
  }

  &__number {
    display: block;
    position: relative;
    color: $yellow-strong;
    font-size: $font-size-xxl;
    font-family: $secondary-font;

    &:after {
      content: '';
      position: absolute;
      top: -4px;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: $yellow-strong;
    }
  }

  &__type {
    font-family: $secondary-font;
    font-size: $font-size-base;
    margin: 0;
    text-transform: uppercase;
    color: $yellow-strong;
  }

  &__description {
    color: $white;
    margin-bottom: 0;
  }

}
