.services {
  display: flex;
  flex-direction: column;

  &__title {
    color: $dark-blue;
  }

  &__list {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
  }

  &__type {
    font-family: $secondary-font;
    font-size: $font-size-md;
    text-transform: uppercase;
    color: $dark-blue;
  }

  &__description {
    margin-left: 30%;
    margin-top: calc(-#{ms(5)}/2.6);
    margin-bottom: $spacing-xl;
  }

}
