.site-header {
  font-family: $secondary-font;
  display: flex;
  justify-content: space-between;
  margin: 1em;

  @media #{$screen-md} {
    margin: 2em 2.5em;
  }

  @media #{$screen-lg} {
    margin: 3em 4em;
  }

  &__identity {
    margin: 0;
  }
}

.nav {
  display: flex;
  text-align: right;
  flex-direction: column;

  @media #{$screen-sm} {
    flex-direction: row;
  }

  &__link {
    color: $white;
    text-transform: lowercase;
    position: relative;
    transition: all 0.4s ease-out;

    @media #{$screen-md} {
      padding: 0 $spacing-xs;
      margin-left: $spacing-lg;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 0;
      opacity: 0;
      background-color: $white;
      transition: all 0.2s ease-out;
    }

    &:hover:after {
      height: 5px;
      opacity: 1;
    }
  }
}
