.site-footer {
  background-color: $white;
  color: $dark-grey;
  border: $dark-grey 8px solid;
  margin-top: $spacing-xxl;
  font-family: $secondary-font;
  font-size: $font-size-sm;
  padding: $spacing-xs $spacing-md;
  text-align: center;
  margin: 1em;

  @media #{$screen-md} {
    margin: 2em 2.5em;
  }

  @media #{$screen-lg} {
    margin: 3em 4em;
  }
}
