.site-wrapper {
  margin: 1em;
  background-color: $turquois;
  transition: background-color 1.2s;
  overflow: hidden;

  @media #{$screen-md} {
    margin: 1.5em;
  }

  @media #{$screen-lg} {
    margin: 2em;
  }

  &__work {
    background-color: $medium-grey;
  }

  &__services {
    background-color: $slate-grey;
  }

  &__about {
    background-color: $purple;
  }

  &__contact {
    background-color: $blue;
  }
}
