.site-wrapper {
  margin: 2em;
  padding: 3em 4em;
  background-color: $turquois;
  transition: background-color 1.2s;
  overflow: hidden;

  &__work {
    background-color: $light-grey;
  }

  &__services {
    background-color: $yellow;
  }

  &__about {
    background-color: $purple;
  }

  &__contact {
    background-color: $blue;
  }
}
