.work {
  display: flex;
  flex-direction: column;

  &__list {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  &__item {
    list-style: none;
    display: block;
    margin-left: -4em;
    margin-right: -4em;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-top: $spacing-xl;
    padding-bottom: $spacing-xl;
    padding-left: 4em;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      z-index: -1;
      height: 100%;
      background: linear-gradient(45deg, transparentize($purple, 0.3), transparentize($light-grey, 0.3));
      transition: all 0.4s ease-out;
    }

    &:hover:after,
    &:focus:after {
      width: 100%;
    }

    &:hover .work__type,
    &:focus .work__type {
      transform: translateY(0);
      font-size: $font-size-base;
      color: $white;

    }

    &:hover .work__technology,
    &:focus .work__technology {
      transform: translateX(0);
    }

    &:hover .work__client,
    &:focus .work__client {
      color: $dark-grey;
      transform: translateY(0);
    }

    &:hover .work__img,
    &:hover .work__img-wrapper,
    &:hover .work__technology,
    &:focus .work__img,
    &:focus .work__img-wrapper,
    &:focus .work__technology {
      opacity: 1;
    }

    &:hover .work__img-wrapper, 
    &:focus .work__img-wrapper {
      animation: bounceInRight 1s forwards;
    }

    //get screen image to scroll up
    &:hover .work__img,
    &:focus .work__img {
      animation: moveScreen linear 7s forwards 1s;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    z-index: 3;
    position: relative;
  }

  &__type {
    transform: translateY($spacing-sm);
    text-transform: uppercase;
    font-size: $font-size-sm;
    font-family: $secondary-font;
    letter-spacing: $letter-spacing-lg;
    color: $yellow-strong;
    transition: all 0.4s ease-out;
  }

  &__technology {
    position: relative;
    margin-top: 40px;
    color: $dark-grey;
    text-transform: uppercase;
    font-family: $secondary-font;
    font-size: $font-size-sm;
    font-weight: 700;
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.4s ease-out;

    &:before {
      content: '';
      position: absolute;
      top: -20px;
      left: 10px;
      background-color: $white;
      height: 1px;
      width: 200px;
    }
  }

  &__client {
    transform: translateY(- $spacing-sm);
    display: block;
    font-weight: 700;
    font-size: $font-size-lg;
    letter-spacing: $letter-spacing-xl;
    transition: all 0.4s ease-out;
  }

  &__img-wrapper {
    position: absolute;
    right: $spacing-base;
    height: 170px;
    width: 300px;
    border: solid $dark-grey 5px;
    opacity: 0;
    overflow: hidden;
  }

  &__img {
    width: 300px;
    opacity: 0;
    transition: all 0.1s ease-out 0.4s;
    position: absolute;
    z-index: 1;
  }
}

@keyframes moveScreen {
  0% {
   transform: translateY(0);
   }
  100% {
   transform: translateY(calc(-100% + 170px));
  }
}


@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-15px, 0, 0);
  }

  75% {
    transform: translate3d(5px, 0, 0);
  }

  90% {
    transform: translate3d(-3px, 0, 0);
  }

  to {
    transform: none;
  }
}
