.work {
  display: flex;
  flex-direction: column;

  &__list {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
  }

  &__item {
      list-style: none;
      margin-bottom: $spacing-xl;
  }

  &__type {
    text-transform: uppercase;
    font-size: $font-size-sm;
    font-family: $secondary-font;
    letter-spacing: $letter-spacing-lg;
    color: $yellow-strong;
  }

  &__name {
    display: block;
    font-weight: 700;
    font-size: $font-size-md;
  }
}
