/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.04px; }

body {
  font-family: "futura-pt", sans-serif;
  font-size: 1em;
  color: #FDFDFD; }

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.2; }

h1 {
  font-size: 2.368593037em;
  font-weight: 700; }
  @media (min-width: 48em) {
    h1 {
      font-size: 3.1573345183em; } }

h2 {
  font-size: 1.333em;
  font-weight: 500;
  font-family: "letter-gothic-std", sans-serif; }
  @media (min-width: 48em) {
    h2 {
      font-size: 1.776889em; } }

h3 {
  font-size: 1em;
  font-family: "letter-gothic-std", sans-serif;
  text-transform: uppercase; }

p {
  font-weight: 300; }

a {
  text-decoration: none;
  color: #FDFDFD; }

.site-wrapper {
  margin: 1em;
  background-color: #81C9B4;
  transition: background-color 1.2s;
  overflow: hidden;
  position: relative; }
  @media (min-width: 48em) {
    .site-wrapper {
      margin: 1.5em; } }
  @media (min-width: 68.75em) {
    .site-wrapper {
      margin: 2em; } }
  .site-wrapper__language-link {
    margin: 0;
    position: fixed;
    top: 50%;
    left: -1em;
    transform: rotate(-90deg);
    color: #81C9B4;
    font-size: 0.5627813555em;
    letter-spacing: 1.1px; }
  .site-wrapper__contact-link {
    margin: 0;
    position: fixed;
    top: 50%;
    right: -1em;
    transform: rotate(90deg);
    color: #81C9B4;
    font-size: 0.5627813555em;
    letter-spacing: 1.1px; }
  .site-wrapper__work {
    background-color: #596662; }
  .site-wrapper__services {
    background-color: #A786AD; }
  .site-wrapper__about {
    background-color: #738290; }
  .site-wrapper__contact {
    background-color: #84C3CF; }

.site-header {
  font-family: "letter-gothic-std", sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 1em; }
  @media (min-width: 48em) {
    .site-header {
      margin: 2em 2.5em; } }
  @media (min-width: 68.75em) {
    .site-header {
      margin: 3em 4em; } }
  .site-header__identity {
    margin: 0; }

.nav {
  display: flex;
  text-align: right;
  flex-direction: column; }
  @media (min-width: 37.5em) {
    .nav {
      flex-direction: row; } }
  .nav__link {
    color: #FDFDFD;
    text-transform: lowercase;
    position: relative;
    transition: all 0.4s ease-out; }
    @media (min-width: 48em) {
      .nav__link {
        padding: 0 0.5627813555em;
        margin-left: 2.368593037em; } }
    .nav__link:after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 0;
      opacity: 0;
      background-color: #FDFDFD;
      transition: all 0.2s ease-out; }
    .nav__link:hover:after {
      height: 5px;
      opacity: 1; }

.site-footer {
  background-color: #FDFDFD;
  color: #3C4241;
  border: #3C4241 8px solid;
  margin-top: 9.9687612606em;
  font-family: "letter-gothic-std", sans-serif;
  padding: 0.5627813555em 1.776889em;
  text-align: center;
  margin: 1em; }
  @media (min-width: 48em) {
    .site-footer {
      margin: 2em 2.5em; } }
  @media (min-width: 68.75em) {
    .site-footer {
      margin: 3em 4em; } }

.section {
  min-height: calc(100vh - 5em);
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3.1573345183em;
  margin-top: 3.1573345183em;
  position: relative; }
  @media (min-width: 48em) {
    .section {
      margin-bottom: 1.776889em;
      padding-left: 2.5em;
      padding-right: 2.5em; } }
  @media (min-width: 68.75em) {
    .section {
      padding-left: 4em;
      padding-right: 4em; } }
  .section__title {
    position: absolute;
    line-height: 0.8;
    font-size: 20vw;
    top: -5vw;
    right: -2vw;
    color: rgba(253, 253, 253, 0.2); }
  .section__subtitle {
    font-size: 2.368593037em;
    font-weight: 700; }
  .section__main {
    margin-top: 2.368593037em; }

.intro {
  height: calc(100vh - 10em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  .intro__title {
    font-size: 12vw; }
    @media (min-width: 48em) {
      .intro__title {
        font-size: 9vw; } }
  .intro__wrapper {
    position: relative;
    align-self: center;
    height: 2.5em;
    margin-top: 2.368593037em;
    width: 100%;
    overflow: hidden; }
    @media (min-width: 48em) {
      .intro__wrapper {
        width: 60%;
        height: 5em; } }
  .intro__subtitle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-family: "letter-gothic-std", sans-serif;
    opacity: 0;
    font-size: 5vw; }
    @media (min-width: 48em) {
      .intro__subtitle {
        font-size: 3.5vw; } }
  .intro .subtitle__1 {
    opacity: 1; }
  .intro__reveal-block {
    position: absolute;
    left: -100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: #738290; }

.work {
  display: flex;
  flex-direction: column; }
  .work__list {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    padding-left: 0; }
  .work__item {
    list-style: none;
    display: block;
    margin-left: -4em;
    margin-right: -4em; }
  .work__link {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-left: 4em;
    transition: all 0.4s ease-out; }
    .work__link:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      z-index: -1;
      height: 100%;
      background: linear-gradient(45deg, rgba(167, 134, 173, 0.7), rgba(116, 133, 127, 0.7));
      transition: all 0.4s ease-out; }
    .work__link:hover, .work__link:focus {
      padding-top: 1.776889em;
      padding-bottom: 1.776889em; }
    .work__link:hover:after, .work__link:focus:after {
      width: 100%; }
    .work__link:hover .work__text,
    .work__link:focus .work__text {
      width: 70%; }
    .work__link:hover .work__type,
    .work__link:focus .work__type {
      margin-bottom: 0;
      font-size: 1em;
      color: #FDFDFD; }
    .work__link:hover .work__technology,
    .work__link:focus .work__technology {
      margin-top: 1.776889em;
      margin-bottom: 1em; }
    .work__link:hover .work__technology,
    .work__link:focus .work__technology,
    .work__link:hover .work__description,
    .work__link:focus .work__description {
      transform: translateX(0);
      position: relative;
      right: auto; }
    .work__link:hover .work__description,
    .work__link:focus .work__description {
      font-size: 1em; }
    .work__link:hover .work__client:before {
      transform: translateX(-15px);
      opacity: 1; }
    .work__link:hover .work__client,
    .work__link:focus .work__client {
      color: #596662;
      margin-top: 0.7501875469em;
      font-weight: 500;
      transform: translateY(0); }
    .work__link:hover .work__img,
    .work__link:hover .work__img-wrapper,
    .work__link:hover .work__technology,
    .work__link:hover .work__description,
    .work__link:focus .work__img,
    .work__link:focus .work__img-wrapper,
    .work__link:focus .work__technology,
    .work__link:hover .work__description {
      opacity: 1; }
    .work__link:hover .work__img-wrapper,
    .work__link:focus .work__img-wrapper {
      animation: bounceInRight 1s forwards; }
    .work__link:hover .work__img,
    .work__link:focus .work__img {
      animation: moveScreen linear 7s forwards 1s; }
  .work__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 3;
    position: relative; }
  .work__type {
    text-transform: uppercase;
    margin-bottom: 1.776889em;
    font-size: 0.5627813555em;
    font-family: "letter-gothic-std", sans-serif;
    letter-spacing: 1.1px;
    color: #ffd751;
    transition: all 0.4s ease-out; }
  .work__client {
    position: relative;
    display: block;
    margin-top: 0.5627813555em;
    line-height: 1;
    font-weight: 600;
    font-size: 3.1573345183em;
    letter-spacing: 2px;
    transform: translateY(-0.7501875469em);
    color: #FDFDFD;
    transition: all 0.4s ease-out; }
    .work__client:before {
      content: '';
      position: absolute;
      opacity: 0;
      top: calc(-1 * (0.7501875469em / 2));
      left: 40px;
      background-color: #FDFDFD;
      height: 5px;
      width: 200px; }
  .work__technology {
    color: #FDFDFD;
    text-transform: uppercase;
    position: absolute;
    right: -9999px;
    font-family: "letter-gothic-std", sans-serif;
    font-size: 0.5627813555em;
    font-weight: 700;
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.4s ease-out; }
  .work__description {
    color: #FDFDFD;
    position: absolute;
    right: -9999px;
    font-weight: 300;
    opacity: 0;
    transform: translateX(200px);
    transition: all 0.4s ease-out; }
  .work__img-wrapper {
    position: relative;
    height: 170px;
    width: 300px;
    margin: 0 auto;
    border: solid #3C4241 5px;
    opacity: 0;
    overflow: hidden; }
  .work__img {
    width: 300px;
    opacity: 0;
    transition: all 0.1s ease-out 0.4s;
    position: absolute;
    z-index: 1; }

@keyframes moveScreen {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(calc(-100% + 170px)); } }

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-15px, 0, 0); }
  75% {
    transform: translate3d(5px, 0, 0); }
  90% {
    transform: translate3d(-3px, 0, 0); }
  to {
    transform: none; } }

.services {
  display: flex;
  flex-direction: column; }
  .services__footnote {
    font-family: "letter-gothic-std", sans-serif;
    text-align: right; }
  .services__list {
    list-style: none;
    padding-left: 0;
    flex-grow: 2;
    display: flex;
    justify-content: space-between; }
  .services__list-item {
    width: 34%;
    display: flex;
    flex-direction: column; }
    .services__list-item:last-child {
      width: 24%; }
  .services__number {
    display: block;
    position: relative;
    color: #ffd751;
    font-size: 3.1573345183em;
    font-family: "letter-gothic-std", sans-serif; }
    .services__number:after {
      content: '';
      position: absolute;
      top: -4px;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: #ffd751; }
  .services__type {
    font-family: "letter-gothic-std", sans-serif;
    font-size: 1em;
    margin: 0;
    text-transform: uppercase;
    color: #ffd751; }
  .services__description {
    color: #FDFDFD;
    margin-bottom: 0; }

.about__header {
  display: inline-block;
  position: relative;
  color: #ffd751;
  font-family: "letter-gothic-std", sans-serif;
  text-transform: uppercase; }
  .about__header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffd751; }

.about__text {
  column-count: 2; }

.contact {
  display: flex;
  flex-direction: column; }
  .contact__msg {
    width: 55%;
    text-align: center; }
  .contact__list {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0; }
  .contact__item {
    list-style: none;
    display: block;
    text-align: center;
    position: relative; }
  .contact__link:hover .contact__username {
    background-color: #3C4241;
    color: rgba(214, 193, 122, 0); }
  .contact__link:hover .contact__type {
    color: #D9688A;
    z-index: 5; }
  .contact__username {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    letter-spacing: 1.1px;
    color: #D6C17A;
    background-color: rgba(60, 66, 65, 0.6);
    transition: all 0.1s ease-out; }
  .contact__type {
    position: relative;
    font-family: "letter-gothic-std", sans-serif;
    font-size: 4.2087269129em;
    display: block;
    text-transform: uppercase;
    transition: all 0.1s ease-out; }

@screen (min-width: 48em) {
  .contact__type {
    font-size: 4.2087269129em; } }

/*# sourceMappingURL=main.css.map */