// Typography
$base-font: "futura-pt", sans-serif;
$secondary-font: "letter-gothic-std", sans-serif;


// Base Font Sizes for body, changing for different screen sizes
$body-font-size-sm: 0.88em;
$body-font-size-base: 1em;
$body-font-size-md: 0.12em;

// Modular scale https://github.com/modularscale/modularscale-sass
$modularscale: (
  base: 1em,
  //perfect fourth
  ratio: 1.333
);

$font-size-sm: ms(-1);
$font-size-base: ms(0);
$font-size-md: ms(4);
$font-size-lg: ms(5);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

//Letter spacing:
$letter-spacing-base: 1.04px;
$letter-spacing-lg: 1.1px;
$letter-spacing-xl: 2px;

// Other Sizes
$base-border-radius: 0;
$base-z-index: 0;

//Spacing with modular scales
$spacing-xs: ms(-2);
$spacing-sm: ms(-1);
$spacing-base: ms(0);
$spacing-md: ms(1);
$spacing-lg: ms(2);
$spacing-xl: ms(3);
$spacing-xxl: ms(5);

// Colors
$dark-grey: #3C4241;
$light-grey: #7A8C87;
$light-grey: #596662;
$turquois: #81C9B4;
$yellow: #D6CC60;
$yellow: #C9BB81;
$yellow-strong: saturate($yellow, 50%);
$orange: #C78071;
// $orange: #BF8D80;
$white: #FDFDFD;
$purple: #7D6B93;
$purple: #AD99CF;
$purple: #A786AD;
$blue: #7CC2D6;
$blue: #84C3CF;
$dark-blue: #5B55CF;

// Font Colors
$base-font-color: $white;

// Transitions
$hover-transition: all 0.1s ease-out;
