// Typography
$base-font: "futura-pt", sans-serif;
//font-weight: 300/ 400 / 500
$secondary-font: "letter-gothic-std", sans-serif;
//font-weight: 400 / 700

// Base Font Sizes for body, changing for different screen sizes
$body-font-size-sm: 0.88em;
$body-font-size-base: 1em;
$body-font-size-md: 0.12em;

// Modular scale https://github.com/modularscale/modularscale-sass
$modularscale: (
  base: 1em,
  //perfect fourth
  ratio: 1.333
);

$font-size-sm: ms(-1);
$font-size-base: ms(0);
$font-size-md: ms(3);
$font-size-lg: ms(4);
$font-size-xl: ms(5);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

//Letter spacing:
$letter-spacing-base: 1.04px;
$letter-spacing-lg: 1.1px;
$letter-spacing-xl: 2px;

// Other Sizes
$base-border-radius: 0;
$base-z-index: 0;

//Spacing with modular scales
$spacing-xs: ms(-2);
$spacing-sm: ms(-1);
$spacing-base: ms(0);
$spacing-md: ms(1);
$spacing-lg: ms(2);
$spacing-xl: ms(3);
$spacing-xxl: ms(8);

//Media queries
$screen-xs: "(min-width: 20em)";
$screen-sm: "(min-width: 37.5em)";
$screen-md: "(min-width: 48em)";
$screen-lg: "(min-width: 68.75em)";
$screen-xl: "(min-width: 81.25em)";

// Colors
$dark-grey: #3C4241;
$white: #FDFDFD;

$turquois: #81C9B4;
$medium-grey: #596662;
$light-grey: #74857F;
$yellow: #D6C17A;
$purple: #A786AD;
$blue: #84C3CF;

//trying out colors
$beige: #BEC5AD;
$khaki: #C3A995;
$slate-grey: #738290;

$turquois-strong: saturate($turquois, 20%);
$yellow-strong: saturate($yellow, 50%);
$purple-strong: #5B55CF;
$pink-strong: #D9688A;

// Font Colors
$base-font-color: $white;

// Transitions
$hover-transition: all 0.1s ease-out;
